.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --color-primary: #7B1FA2;
  --color-secondary: #F3E5F5;
  --color-light-purple: #f6f3f6;
  --color-green: green;
  --color-red: red;
  --color-white: white;
  --color-black: black;
  --color-light-gray: #BDBDBD;
  --color-mid-gray: #808080;
  --color-dark-gray: #3c3c3c;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

[data-theme="dark"] {
  --color-primary: #0056b3;
  --color-secondary: #545b62;
  --background-color: #121212;
  --text-color: #ffffff;
}
